# Single-cell cooler format Python API examples

The here provided examples are using the cooler Python API with version 0.8.9. Earlier versions do not support single-cell cooler files.
The single-cell cooler format uses an HDF5 container and can therefore be accessed with any HDF5 library of any programming language. However, the programmer needs to take care of all the operations on his/her own and make sure the single-cell cooler definitions are met. 
Please consider our documentation on https://cooler.readthedocs.io/

In [19]:
import cooler
import os

## Create a single-cell cooler file

#### Load cooler files

In [4]:
path_file1 = 'data/single-cell/GSM2687248_41669_ACAGTG-R1-DpnII.100000.cool'

In [5]:
path_file2 = 'data/single-cell/GSM2687249_41670_GGCTAC-R1-DpnII.100000.cool'

In [6]:
path_file3 = 'data/single-cell/GSM2687250_41671_TTAGGC-R1-DpnII.100000.cool'

In [7]:
cooler_file1 = cooler.Cooler(path_file1)

In [8]:
cooler_file2 = cooler.Cooler(path_file2)

In [9]:
cooler_file3 = cooler.Cooler(path_file3)

#### Load pixels

In [10]:
pixel1 = cooler_file1.pixels()[:]

In [11]:
pixel2 = cooler_file2.pixels()[:]

In [12]:
pixel3 = cooler_file3.pixels()[:]

#### Load bins

In [24]:
bin1 = cooler_file1.bins()[:]

In [25]:
bin2 = cooler_file2.bins()[:]

In [26]:
bin3 = cooler_file3.bins()[:]

#### Cell names

In [30]:
cell_name_list = [os.path.basename(cooler_file1.filename), os.path.basename(cooler_file2.filename), os.path.basename(cooler_file3.filename)]

#### Create input

Bins either as pandas pixels or as a dict of name:bins (as pandas pixels)

In [29]:
bins = bin1

In [33]:
bins_dictionary = {cell_name_list[0]:bin1, cell_name_list[1]:bin2, cell_name_list[2]:bin3}

Pixels as dictionary name:pixels

In [34]:
pixels_dictionary = {cell_name_list[0]:pixel1, cell_name_list[1]:pixel2, cell_name_list[2]:pixel3}

#### Create scool with bins as pandas dataframe

In [51]:
cooler.create_scool('outfile_test.scool', bins, pixels_dictionary)

#### Create scool with bins as dictonary

In [38]:
cooler.create_scool('outfile_test.scool', bins_dictionary, pixels_dictionary)

## Read scool

### Get paths of the cells

In [52]:
content_of_scool = cooler.fileops.list_scool_cells('outfile_test.scool')

In [53]:
content_of_scool

['/cells/GSM2687248_41669_ACAGTG-R1-DpnII.100000.cool',
 '/cells/GSM2687249_41670_GGCTAC-R1-DpnII.100000.cool',
 '/cells/GSM2687250_41671_TTAGGC-R1-DpnII.100000.cool']

### Load the individual cells

In [41]:
cell1 = cooler.Cooler('outfile_test.scool' + '::' + content_of_scool[0])

In [42]:
cell2 = cooler.Cooler('outfile_test.scool' + '::' + content_of_scool[1])

In [43]:
cell3 = cooler.Cooler('outfile_test.scool' + '::' + content_of_scool[2])

### Bin content

The bins are shared and for all cells identical

In [45]:
cell1.bins()[:10]

  chrom   start      end
0     1       0   100000
1     1  100000   200000
2     1  200000   300000
3     1  300000   400000
4     1  400000   500000
5     1  500000   600000
6     1  600000   700000
7     1  700000   800000
8     1  800000   900000
9     1  900000  1000000

In [46]:
cell2.bins()[:10]

  chrom   start      end
0     1       0   100000
1     1  100000   200000
2     1  200000   300000
3     1  300000   400000
4     1  400000   500000
5     1  500000   600000
6     1  600000   700000
7     1  700000   800000
8     1  800000   900000
9     1  900000  1000000

In [47]:
cell3.bins()[:10]

  chrom   start      end
0     1       0   100000
1     1  100000   200000
2     1  200000   300000
3     1  300000   400000
4     1  400000   500000
5     1  500000   600000
6     1  600000   700000
7     1  700000   800000
8     1  800000   900000
9     1  900000  1000000

### Pixel content

The content of the pixels are in all cells different

In [48]:
cell1.pixels()[:10]

   bin1_id  bin2_id  count
0       30       30      1
1       30      901      1
2       30    11424      1
3       30    12923      1
4       31       31      2
5       32       32     12
6       32       33      1
7       32       35      1
8       32    16190      1
9       32    17939      1

In [49]:
cell2.pixels()[:10]

   bin1_id  bin2_id  count
0       32      277      1
1       33       33      1
2       33    25964      2
3       34       34      1
4       34       37      2
5       34       49      2
6       35       35     12
7       35       36      2
8       35     5992      1
9       35     8914      1

In [50]:
cell3.pixels()[:10]

   bin1_id  bin2_id  count
0       30       30      4
1       30     4486      1
2       30     9079      1
3       30    16001      1
4       31       31      4
5       31       32      2
6       31       53      6
7       31       54      5
8       31      190      1
9       31    23253      1